<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Angular Animation - Sapient Nitro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="./assets/images/logo.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="./css/loader.css">
</head>
<body ng-app="animateApp">
    <!-- Header -->
    <header class="red-header"></header>
    <!-- Main Content Area -->
    <div class="container-fluid" ng-controller="AnimateController as anime">
        <!-- Left Section -->
        <div id="left-panel" class="hide-tablet col-md-3 full-height">
            <div ng-repeat="name in names">
                <div class="card" id="{{name}}">
                    <div class="card-block">
                        <h4 class="card-title">{{name}}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary btn-card" ng-click="animate(name)">Go Right</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Middle Section -->
        <div id="main-content" class="wrapper col-md-6 full-height">
            <div class="wrapper">
                <!-- Message Header -->
                <div id="title" class="controls">
                    <img src="./assets/images/logo.png">
                    <span>Fetch</span>
                </div>
                <!-- Message Content -->
                <div id="content"></div>
                <!-- Message Type Area -->
                <div id="msg-footer" class="controls">
                    <input type="text" placeholder="Type a message..." rows="1" id="field">
                </div>
            </div>
        </div>
        <!-- Right Section -->
        <div id="right-panel" class="hide-tablet col-md-3 full-height">
            <div card-section ng-repeat="newname in newright_items">
                <div class="card" id="{{newname}}">
                    <div class="card-block">
                        <h4 class="card-title">{{newname}}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-primary btn-card" >Moved to right</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="./js/libs/jquery.js"></script>
    <script src="./js/libs/angular.js"></script>
    <script src="./js/libs/angular-animate.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/demo.js"></script>
</body>
</html>